<app-header></app-header>
<app-sidemenu></app-sidemenu>
<div class="app sidebar-mini">
  <div class="page">
    <div
      class="page-main"
      [class.opacity-2]="viewBox"
      [class.opacity-10]="!viewBox"
    >
      <div class="app-content">
        <div class="side-app">
          <div class="page-header ">
            <h4 class="page-title mx-auto">Gallery Wedding</h4>
          </div>

          <div class="row">
            <div class="col-md-12 col-lg-12">
              <div class="card">
                <div class="card-body">
                  <form autocomplete="off" class="homebannernamelabel ">
                    <div class="row ">
                      <div class="form-group col-12 ">


                        <div class="row">
                          <div class="col-12 d-flex flex-column justify-content-start  align-items-center">
                            <label> All Section  Text Content</label>
                            <textarea class="border border-dark w-100" rows="4"
                              [placeholder]="'Enter text here...'"
                              [(ngModel)]="all_textContent"
                              [ngModelOptions]="{ standalone: true }"
                            ></textarea>
                          </div>
                        </div>
                        <div class="col-12 mb-5 mt-5">
                          <button class="btn btn-success   rounded mx-auto" (click)="updateallSectext()">
                          Update
                          </button>
                        </div>
                        <div class="row">
                          <div class="col-12 d-flex flex-column justify-content-start  align-items-center">
                            <label> Wedding Text Content</label>
                            <textarea class="border border-dark w-100" rows="4"
                              [placeholder]="'Enter text here...'"
                              [(ngModel)]="wedding_textcontent"
                              [ngModelOptions]="{ standalone: true }"
                            ></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 mb-5 mt-5">
                        <button class="btn btn-success   rounded mx-auto" (click)="updateweddingtext()">
                        Update
                        </button>
                      </div>

                    </div>
                  </form>









                  <div class="row">
                    <div class="form-group col-6 mx-auto d-flex flex-column justify-content-start  align-items-center">
                      <label  class="homebannernamelabel">Wedding Image 1 <span class="text-danger">(Dimension : 700 x 467)</span></label>
                      <img [src]="wed_portrait" class="w-80 scale-bottom" />
                    </div>
                    <div class="form-group col-6 mx-auto">
                      <app-sub-category-image (refreshCurrentData)="getgallerycontent()" [data]="'weddingpotrait'"></app-sub-category-image>
                      </div>

                  </div>
                  <hr>
                  <div class="row">
                    <div class="form-group col-6 mx-auto d-flex flex-column justify-content-start  align-items-center">
                      <label  class="homebannernamelabel">Wedding Image 2 <span class="text-danger">(Dimension : 700 x 467)</span></label>
                      <img [src]="wed_img_2" class="w-80 scale-bottom" />
                    </div>
                    <div class="form-group col-6 mx-auto">
                      <app-sub-category-image (refreshCurrentData)="getgallerycontent()" [data]="'wedding2'"></app-sub-category-image>
                      <!-- <label  class="homebannernamelabel">Wedding </label> -->
                      </div>

                  </div>
                  <hr>
                  <div class="row">
                    <div class="form-group col-6 mx-auto d-flex flex-column justify-content-start  align-items-center">
                      <label  class="homebannernamelabel">Wedding Image 3<span class="text-danger">(Dimension : 719 x 1079)</span></label>
                      <img [src]="wed_img_3" class="w-80 scale-bottom" />
                    </div>
                    <div class="form-group col-6 mx-auto">
                      <app-sub-category-image (refreshCurrentData)="getgallerycontent()" [data]="'wedding3'"></app-sub-category-image>
                      </div>

                  </div>
                  <hr>
                  <div class="row">
                    <div class="form-group col-6 mx-auto d-flex flex-column justify-content-start  align-items-center">
                      <label  class="homebannernamelabel">Wedding Image 4 <span class="text-danger">(Dimension : 700 x 467)</span></label>
                      <img [src]="wed_img_4" class="w-80 scale-bottom" />
                    </div>
                    <div class="form-group col-6 mx-auto">
                      <app-sub-category-image (refreshCurrentData)="getgallerycontent()" [data]="'wedding4'"></app-sub-category-image>
                      </div>

                  </div>
                  <hr>
                  <div class="row">
                    <div class="form-group col-6 mx-auto d-flex flex-column justify-content-start  align-items-center">
                      <!-- <label  class="homebannernamelabel">Wedding Image 5 <span class="text-danger">(Dimension : 450 x 675)</span></label> -->
                      <label  class="homebannernamelabel">Wedding Image 5 <span class="text-danger">(Dimension : 719 x 1079)</span></label>
                      <img [src]="wed_img_5" class="w-80 scale-bottom" />
                    </div>
                    <div class="form-group col-6 mx-auto">
                      <app-sub-category-image (refreshCurrentData)="getgallerycontent()" [data]="'wedding5'"></app-sub-category-image>
                      </div>

                  </div>
                  <hr>
                  <div class="row">
                    <div class="form-group col-6 mx-auto d-flex flex-column justify-content-start  align-items-center">
                      <label  class="homebannernamelabel">Wedding Image 6 <span class="text-danger">(Dimension : 750 x 500)</span></label>
                      <img [src]="wed_img_6" class="w-80 scale-bottom" />
                    </div>
                    <div class="form-group col-6 mx-auto">
                      <app-sub-category-image (refreshCurrentData)="getgallerycontent()" [data]="'wedding6'"></app-sub-category-image>
                      </div>

                  </div>
                  <hr>
                  <div class="row">
                    <div class="form-group col-6 mx-auto d-flex flex-column justify-content-start  align-items-center">
                      <label  class="homebannernamelabel">Wedding Image 7 <span class="text-danger">(Dimension : 777 x 517)</span></label>
                      <img [src]="wed_img_7" class="w-80 scale-bottom" />
                    </div>
                    <div class="form-group col-6 mx-auto">
                      <app-sub-category-image (refreshCurrentData)="getgallerycontent()" [data]="'wedding7'"></app-sub-category-image>
                      </div>

                  </div>
                  <hr>
                  <div class="row">
                    <div class="form-group col-6 mx-auto d-flex flex-column justify-content-start  align-items-center">
                      <!-- <label  class="homebannernamelabel">Wedding Image 8 <span class="text-danger">(Dimension : 400 x 600 )</span></label> -->
                      <label  class="homebannernamelabel">Wedding Image 8 <span class="text-danger">(Dimension : 719 x 1079 )</span></label>
                      <img [src]="wed_img_8" class="w-80 scale-bottom" />
                    </div>
                    <div class="form-group col-6 mx-auto">
                      <app-sub-category-image (refreshCurrentData)="getgallerycontent()" [data]="'wedding8'"></app-sub-category-image>
                      </div>

                  </div>
                  <hr>
                  <div class="row">
                    <div class="form-group col-6 mx-auto d-flex flex-column justify-content-start  align-items-center">
                      <label  class="homebannernamelabel">Wedding Image 9 <span class="text-danger">(Dimension : 700 x 467 )</span></label>
                      <img [src]="wed_img_9" class="w-80 scale-bottom" />
                    </div>
                    <div class="form-group col-6 mx-auto">
                      <app-sub-category-image (refreshCurrentData)="getgallerycontent()" [data]="'wedding9'"></app-sub-category-image>
                      </div>

                  </div>
                  <hr>
                  <div class="row">
                    <div class="form-group col-6 mx-auto d-flex flex-column justify-content-start  align-items-center">
                      <label  class="homebannernamelabel">Wedding Image 10 <span class="text-danger">(Dimension : 800 x 533 )</span></label>
                      <img [src]="wed_img_10" class="w-80 scale-bottom" />
                    </div>
                    <div class="form-group col-6 mx-auto">
                      <app-sub-category-image (refreshCurrentData)="getgallerycontent()" [data]="'wedding10'"></app-sub-category-image>
                      </div>

                  </div>
                  <hr>
                  <div class="row">
                    <div class="form-group col-6 mx-auto d-flex flex-column justify-content-start  align-items-center">
                      <!-- <label  class="homebannernamelabel">Wedding Image 11 <span class="text-danger">(Dimension : 450 x 675 )</span></label> -->
                      <label  class="homebannernamelabel">Wedding Image 11 <span class="text-danger">(Dimension : 719 x 1079)</span></label>
                      <img [src]="wed_img_11" class="w-80 scale-bottom" />
                    </div>
                    <div class="form-group col-6 mx-auto">
                      <app-sub-category-image (refreshCurrentData)="getgallerycontent()" [data]="'wedding11'"></app-sub-category-image>
                      </div>

                  </div>
                  <hr>
                  <div class="row">
                    <div class="form-group col-6 mx-auto d-flex flex-column justify-content-start  align-items-center">
                      <label  class="homebannernamelabel">Wedding Image 12 <span class="text-danger">(Dimension : 777 x 517 )</span></label>
                      <img [src]="wed_img_12" class="w-80 scale-bottom" />
                    </div>
                    <div class="form-group col-6 mx-auto">
                      <app-sub-category-image (refreshCurrentData)="getgallerycontent()" [data]="'wedding12'"></app-sub-category-image>
                      </div>

                  </div>
                  <hr>
                  <div class="row">
                    <div class="form-group col-6 mx-auto d-flex flex-column justify-content-start  align-items-center">
                      <label  class="homebannernamelabel">Wedding Image 13 <span class="text-danger">(Dimension : 777 x 517 )</span></label>
                      <img [src]="wed_img_13" class="w-80 scale-bottom" />
                    </div>
                    <div class="form-group col-6 mx-auto">
                      <app-sub-category-image (refreshCurrentData)="getgallerycontent()" [data]="'wedding13'"></app-sub-category-image>
                      </div>

                  </div>
                  <hr>
                  <div class="row">
                    <div class="form-group col-6 mx-auto d-flex flex-column justify-content-start  align-items-center">
                      <label  class="homebannernamelabel">Wedding Image 14 <span class="text-danger">(Dimension : 777 x 517 )</span></label>
                      <img [src]="wed_img_14" class="w-80 scale-bottom" />
                    </div>
                    <div class="form-group col-6 mx-auto">
                      <app-sub-category-image (refreshCurrentData)="getgallerycontent()" [data]="'wedding14'"></app-sub-category-image>
                      </div>

                  </div>





























                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <app-footer></app-footer>
    </div>
  </div>
</div>
