.active {
    color: #ffffff !important;
    /* background: rgba(255, 255, 255, 0.15); */
    background: #4293B7;
    border-left-color: #ffffff;
    
}

.routerLinkActive {
    color: red;
}

.hide {
    display: none;
}