<app-header></app-header>
<app-sidemenu></app-sidemenu>
<div class="app sidebar-mini">
  <div class="page">
    <div
      class="page-main"
      [class.opacity-2]="viewBox"
      [class.opacity-10]="!viewBox"
    >
      <div class="app-content">
        <div class="side-app">
          <div class="page-header">
            <h4 class="page-title">Home Banner Image</h4>
          </div>

          <div class="row">
            <div class="col-md-12 col-lg-12">
              <div class="card">
                <div class="card-body">
                  <form autocomplete="off">
                    <div class="row">


                      <div class="form-group col-6 mx-auto d-flex flex-column justify-content-start  align-items-center">
                        <label  class="homebannernamelabel">Banner Image-1</label>
                        <img [src]="banner_1" class="w-80 scale-bottom" />
                      </div>
                      <div class="form-group col-6 mx-auto">
                        <app-sub-category-image [data]="'banner_1'"></app-sub-category-image>

                      </div>
                      <div class="form-group col-6 mx-auto d-flex flex-column justify-content-start  align-items-center">
                        <label class="homebannernamelabel">Banner Image-2</label>
                        <img [src]="banner_2" class="w-80 scale-bottom" />
                      </div>
                      <div class="form-group col-6 mx-auto">
                        <app-sub-category-image  [data]="'banner_2'"></app-sub-category-image>

                      </div>  <div class="form-group col-6 mx-auto d-flex flex-column justify-content-start  align-items-center">
                        <label class="homebannernamelabel">Banner Image-3</label>
                        <img [src]="banner_3" class="w-80 scale-bottom" />
                      </div>
                      <div class="form-group col-6 mx-auto">
                        <app-sub-category-image   [data]="'banner_3'"></app-sub-category-image>

                      </div>  <div class="form-group col-6 mx-auto d-flex flex-column justify-content-start  align-items-center">
                        <label class="homebannernamelabel">Banner Image-4</label>
                        <img [src]="banner_4" class="w-80 scale-bottom" />
                      </div>
                      <div class="form-group col-6 mx-auto">
                        <app-sub-category-image   [data]="'banner_4'"></app-sub-category-image>

                      </div>


                      <div class="col-12 ">
                        <button class="btn btn-success   rounded mx-auto" (click)="updatehomebanner()">
                          Update
                          </button>
                      </div>

                    </div>
                  </form>













                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <app-footer></app-footer>
    </div>
  </div>
</div>
