<!-- <app-header></app-header>
<app-sidemenu></app-sidemenu>
<div class="app sidebar-mini">
  <div class="page">
    <div
      class="page-main"
      [class.opacity-2]="viewBox"
      [class.opacity-10]="!viewBox"
    >
      <div class="app-content">
        <div class="side-app">
          <div class="page-header">
            <h4 class="page-title">Section One</h4>
          </div>

          <div class="row" >
            <div class="col-md-12 col-lg-12">
              <div class="card">
                <div class="card-body">
                  <form autocomplete="off">
                    <div class="row">
                        <div class="form-group col-12">
                            <label>Address 1</label>
                             <input [(ngModel)]="section_one_dark_title" type="text" class="form-control" id="productName" placeholder="Enter Product Name" [ngModelOptions]="{standalone: true}">
                             <angular-editor
                             [placeholder]="'Enter text here...'"
                             [(ngModel)]="address_one"
                             [ngModelOptions]="{ standalone: true }"
                           ></angular-editor>





                            </div>
                          <div class="form-group col-12">
                            <label>Address 2</label>

                            <angular-editor
                              [placeholder]="'Enter text here...'"
                              [(ngModel)]="address_two"
                              [ngModelOptions]="{ standalone: true }"
                            ></angular-editor>
                          </div>

                          <div class="form-group col-12">
                            <label>Email</label>

                            <angular-editor
                              [placeholder]="'Enter text here...'"
                              [(ngModel)]="email"
                              [ngModelOptions]="{ standalone: true }"
                            ></angular-editor>
                          </div>

                          <div class="form-group col-12">
                            <label>Contact 1</label>

                            <angular-editor
                              [placeholder]="'Enter text here...'"
                              [(ngModel)]="contact_one"
                              [ngModelOptions]="{ standalone: true }"
                            ></angular-editor>
                          </div>
                          <div class="form-group col-12">
                            <label>Contact 2</label>

                            <angular-editor
                              [placeholder]="'Enter text here...'"
                              [(ngModel)]="contact_two"
                              [ngModelOptions]="{ standalone: true }"
                            ></angular-editor>
                          </div>
                          <div class="form-group col-12">
                            <label>Whatsapp</label>
                            <input [(ngModel)]="whatsapp" type="text" class="form-control" id="productName" placeholder="Enter Whatsapp number" [ngModelOptions]="{standalone: true}">

                            <angular-editor
                              [placeholder]="'Enter text here...'"
                              [(ngModel)]="whatsapp"
                              [ngModelOptions]="{ standalone: true }"
                            ></angular-editor>
                          </div>
                          <div class="form-group col-12">
                            <label>Facebook</label>

                            <input [(ngModel)]="facebook" type="text" class="form-control" id="productName" placeholder="Enter Whatsapp number" [ngModelOptions]="{standalone: true}">

                            <angular-editor
                              [placeholder]="'Enter text here...'"
                              [(ngModel)]="facebook"
                              [ngModelOptions]="{ standalone: true }"
                            ></angular-editor>
                          </div>

                          <div class="form-group col-12">
                            <label>Snapchat</label>
                            <input [(ngModel)]="snapchat" type="text" class="form-control" id="productName" placeholder="Enter Whatsapp number" [ngModelOptions]="{standalone: true}">
                            <angular-editor
                              [placeholder]="'Enter text here...'"
                              [(ngModel)]="snapchat"
                              [ngModelOptions]="{ standalone: true }"
                            ></angular-editor>
                          </div>

                          <div class="form-group col-12">
                            <label>Instagram</label>
                            <input [(ngModel)]="instagram" type="text" class="form-control" id="productName" placeholder="Enter Whatsapp number" [ngModelOptions]="{standalone: true}">
                            <angular-editor
                              [placeholder]="'Enter text here...'"
                              [(ngModel)]="instagram"
                              [ngModelOptions]="{ standalone: true }"
                            ></angular-editor>
                          </div>



                        <div class="form-group col-12">
                            <label>Section Two Title</label>

                            <angular-editor
                              [placeholder]="'Enter text here...'"
                              [(ngModel)]="section_two_title"
                              [ngModelOptions]="{ standalone: true }"
                            ></angular-editor>
                          </div>

                          <div class="form-group col-12">
                            <label>Section Two Content</label>

                            <angular-editor
                              [placeholder]="'Enter text here...'"
                              [(ngModel)]="section_two_content"
                              [ngModelOptions]="{ standalone: true }"
                            ></angular-editor>
                          </div>

                          <div class="form-group col-12">
                            <label>Section Three Title</label>

                            <angular-editor
                              [placeholder]="'Enter text here...'"
                              [(ngModel)]="section_three_title"
                              [ngModelOptions]="{ standalone: true }"
                            ></angular-editor>
                          </div>

                          <div class="form-group col-12">
                            <label>Section Three content</label>

                            <angular-editor
                              [placeholder]="'Enter text here...'"
                              [(ngModel)]="section_three_content"
                              [ngModelOptions]="{ standalone: true }"
                            ></angular-editor>
                          </div>



                            <div class="col-12 ">
                        <button class="btn btn-success   rounded mx-auto" (click)="updateSecOne()">
                        Update
                        </button>
                      </div>

                    </div>
                  </form>









                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <app-footer></app-footer>
    </div>
  </div>
</div>

 -->
