<app-header></app-header>
<app-sidemenu></app-sidemenu>
<div class="app sidebar-mini">
  <div class="page">
    <div
      class="page-main"
      [class.opacity-2]="viewBox"
      [class.opacity-10]="!viewBox"
    >
      <div class="app-content">
        <div class="side-app">
          <div class="page-header ">
            <h4 class="page-title mx-auto">Gallery OutDoors</h4>
          </div>

          <div class="row">
            <div class="col-md-12 col-lg-12">
              <div class="card">
                <div class="card-body">
                  <form autocomplete="off" class="homebannernamelabel ">
                    <div class="row ">
                      <div class="form-group col-12 ">
                        <div class="row">
                          <div class="col-12 d-flex flex-column justify-content-start  align-items-center">
                            <label> OutDoors Text Content</label>
                            <textarea class="border border-dark w-100" rows="4"
                              [placeholder]="'Enter text here...'"
                              [(ngModel)]="outdoors_textcontent"
                              [ngModelOptions]="{ standalone: true }"
                            ></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 mb-5">
                        <button class="btn btn-success   rounded mx-auto" (click)="updateoutdoorstext()">
                        Update
                        </button>
                      </div>

                    </div>
                  </form>









                  <div class="row">
                    <div class="form-group col-6 mx-auto d-flex flex-column justify-content-start  align-items-center">
                      <label  class="homebannernamelabel">Outdoor Image 1 <span class="text-danger">(Dimension : 700 x 467)</span></label>
                      <img [src]="out_portrait" class="w-80 scale-bottom" />
                    </div>
                    <div class="form-group col-6 mx-auto">
                      <app-sub-category-image (refreshCurrentData)="getgallerycontent()" [data]="'outdoorportrait'"></app-sub-category-image>
                      </div>

                  </div>
                  <hr>
                  <div class="row">
                    <div class="form-group col-6 mx-auto d-flex flex-column justify-content-start  align-items-center">
                      <label  class="homebannernamelabel">Outdoor Image 2 <span class="text-danger">(Dimension : 719 x 1079)</span></label>
                      <img [src]="out_img_2" class="w-80 scale-bottom" />
                    </div>
                    <div class="form-group col-6 mx-auto">
                      <app-sub-category-image (refreshCurrentData)="getgallerycontent()" [data]="'outdoor2'"></app-sub-category-image>
                      </div>

                  </div>
                  <hr>
                  <div class="row">
                    <div class="form-group col-6 mx-auto d-flex flex-column justify-content-start  align-items-center">
                      <label  class="homebannernamelabel">Outdoor Image 3 <span class="text-danger">(Dimension : 700 x 467)</span></label>
                      <img [src]="out_img_3" class="w-80 scale-bottom" />
                    </div>
                    <div class="form-group col-6 mx-auto">
                      <app-sub-category-image (refreshCurrentData)="getgallerycontent()" [data]="'outdoor3'"></app-sub-category-image>
                      </div>

                  </div>
                  <hr>
                  <div class="row">
                    <div class="form-group col-6 mx-auto d-flex flex-column justify-content-start  align-items-center">
                      <label  class="homebannernamelabel">Outdoor Image 4 <span class="text-danger">(Dimension : 700 x 467 )</span></label>
                      <img [src]="out_img_4" class="w-80 scale-bottom" />
                    </div>
                    <div class="form-group col-6 mx-auto">
                      <app-sub-category-image (refreshCurrentData)="getgallerycontent()" [data]="'outdoor4'"></app-sub-category-image>
                      </div>

                  </div>
                  <hr>
                  <div class="row">
                    <div class="form-group col-6 mx-auto d-flex flex-column justify-content-start  align-items-center">
                      <label  class="homebannernamelabel">Outdoor Image 5 <span class="text-danger">(Dimension : 700 x 467)</span></label>
                      <img [src]="out_img_5" class="w-80 scale-bottom" />
                    </div>
                    <div class="form-group col-6 mx-auto">
                      <app-sub-category-image (refreshCurrentData)="getgallerycontent()" [data]="'outdoor5'"></app-sub-category-image>
                      </div>

                  </div>
                  <hr>
                  <div class="row">
                    <div class="form-group col-6 mx-auto d-flex flex-column justify-content-start  align-items-center">
                      <label  class="homebannernamelabel">Outdoor Image 6 <span class="text-danger">(Dimension : 719 x 1079 )</span></label>
                      <img [src]="out_img_6" class="w-80 scale-bottom" />
                    </div>
                    <div class="form-group col-6 mx-auto">
                      <app-sub-category-image (refreshCurrentData)="getgallerycontent()" [data]="'outdoor6'"></app-sub-category-image>
                      </div>

                  </div>
                  <hr>
                  <div class="row">
                    <div class="form-group col-6 mx-auto d-flex flex-column justify-content-start  align-items-center">
                      <label  class="homebannernamelabel">Outdoor Image 7 <span class="text-danger">(Dimension : 700 x 467)</span></label>
                      <img [src]="out_img_7" class="w-80 scale-bottom" />
                    </div>
                    <div class="form-group col-6 mx-auto">
                      <app-sub-category-image (refreshCurrentData)="getgallerycontent()" [data]="'outdoor7'"></app-sub-category-image>
                      </div>

                  </div>
                  <hr>
                  <div class="row">
                    <div class="form-group col-6 mx-auto d-flex flex-column justify-content-start  align-items-center">
                      <label  class="homebannernamelabel">Outdoor Image 8 <span class="text-danger">(Dimension : 700 x 467)</span></label>
                      <img [src]="out_img_8" class="w-80 scale-bottom" />
                    </div>
                    <div class="form-group col-6 mx-auto">
                      <app-sub-category-image (refreshCurrentData)="getgallerycontent()" [data]="'outdoor8'"></app-sub-category-image>
                      </div>

                  </div>
                  <hr>
                  <div class="row">
                    <div class="form-group col-6 mx-auto d-flex flex-column justify-content-start  align-items-center">
                      <label  class="homebannernamelabel">Outdoor Image 9 <span class="text-danger">(Dimension : 700 x 467)</span></label>
                      <img [src]="out_img_9" class="w-80 scale-bottom" />
                    </div>
                    <div class="form-group col-6 mx-auto">
                      <app-sub-category-image (refreshCurrentData)="getgallerycontent()" [data]="'outdoor9'"></app-sub-category-image>
                      </div>

                  </div>
                  <hr>
                  <div class="row">
                    <div class="form-group col-6 mx-auto d-flex flex-column justify-content-start  align-items-center">
                      <label  class="homebannernamelabel">Outdoor Image 10 <span class="text-danger">(Dimension : 719 x 1079)</span></label>
                      <img [src]="out_img_10" class="w-80 scale-bottom" />
                    </div>
                    <div class="form-group col-6 mx-auto">
                      <app-sub-category-image (refreshCurrentData)="getgallerycontent()" [data]="'outdoor10'"></app-sub-category-image>
                      </div>

                  </div>
                  <hr>
                  <div class="row">
                    <div class="form-group col-6 mx-auto d-flex flex-column justify-content-start  align-items-center">
                      <label  class="homebannernamelabel">Outdoor Image 11 <span class="text-danger">(Dimension : 700 x 467)</span></label>
                      <img [src]="out_img_11" class="w-80 scale-bottom" />
                    </div>
                    <div class="form-group col-6 mx-auto">
                      <app-sub-category-image (refreshCurrentData)="getgallerycontent()" [data]="'outdoor11'"></app-sub-category-image>
                      </div>

                  </div>
                  <hr>
                  <div class="row">
                    <div class="form-group col-6 mx-auto d-flex flex-column justify-content-start  align-items-center">
                      <label  class="homebannernamelabel">Outdoor Image 12 <span class="text-danger">(Dimension : 700 x 467)</span></label>
                      <img [src]="out_img_12" class="w-80 scale-bottom" />
                    </div>
                    <div class="form-group col-6 mx-auto">
                      <app-sub-category-image (refreshCurrentData)="getgallerycontent()" [data]="'outdoor12'"></app-sub-category-image>
                      </div>

                  </div>
























                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <app-footer></app-footer>
    </div>
  </div>
</div>
